backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
beeply==1.0.2
cachetools==4.1.0
camelot-py==0.7.3
captcha==0.3
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.12.3
chardet==3.0.4
clarifai==2.6.2
Django==3.0.5
djangorestframework==3.11.0
elasticsearch==7.6.0
elasticsearch-loader==0.6.0
html5lib==1.0.1
json5==0.8.5
jsonschema==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
mysql-connector-python-rf==2.2.2
mysql-replication==0.9
mysqlclient==1.4.6
networkx==2.3
nltk==3.4.5
numba==0.45.1
numpy==1.17.2
numpydoc==0.9.1
openpyxl==3.0.0
pandas==0.25.1
pdf2image==1.11.0
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
psutil==5.6.3
psycopg2==2.8.5
ptyprocess==0.6.0
py==1.8.0
py-espeak-ng==0.1.8
pyaml==20.3.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.18.2
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.6
pycurl==7.43.0.3
pyelasticsearch==1.2.3
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.4.2
pylint==2.4.2
PyMySQL==0.6.7
pyOpenSSL==19.0.0
PyPDF2==1.26.0
PySocks==1.7.1
pytesseract==0.3.2
pytest==5.2.1
requests==2.23.0
requests-oauthlib==1.3.0
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.6.5
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
spacy==2.2.4
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.13.0
sqlparse==0.3.0
srsly==1.0.2
statsmodels==0.10.1
sympy==1.4
tables==3.5.2
tabula-py==2.0.4
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.8.2
tesseract==0.1.3
testpath==0.4.2
tflearn==0.3.2
urllib3==1.24.3
